<nav>
	<ul style="display: inline;">
		<a href="/"><li style="display: inline;">home</li></a>
		<a href="/customers"><li style="display: inline;">customers</li></a>
		<a href="/customers/new"><li style="display: inline;">add customer</li></a>
	</ul>
</nav>