<%- include('./partials/header') %>
<h1 class="text-center h3 mt-5">404. Page not found</h1>
<div class="d-flex flex-column flex-md-row py-md-5 align-items-center justify-content-center">
	<h2 class="h5">The path "<%= prevUrl %>", was not found.</h2>
</div>
<%- include('./partials/footer') %>
