<%- include('../partials/header') %>
	<form action="/customers" method="POST">
		<input type="text" id="first" name="first"></input>
		<input type="text" id="last" name="last"></input>
		<input type="tel" id="phone" name="phone"></input>
		<input type="email" id="email" name="email"></input>
		<select type="text" id="preferredCommunication" name="preferredCommunication">
			<option value="call">call</option>
			<option value="text">text</option>
			<option value="email">email</option>
		</select>
		<button type="submit">Submit</button>
	</form>
<%- include('../partials/footer') %>